@{
    ViewData["Title"] = "Events";
}
@section Styles {
    <link href="~/css/events.css" rel="stylesheet" type="text/css" />
}

<div class="card">
    <div class="image"></div>
    <div class="card-section">
        <p class="card-title">Comic Con - 2022-11-4</p>
        <p class="card-text">At Comic Con Stockholm 4 – 6 November at Kistamässan, you can take part in activities inspired by TV & film, meet popular actors, Comic Artists and digital creators. You can also experience world-class cosplay or play new games before anyone else. Comic Con is a magical experience for both big and small.</p>
        <a class="card-button" href="https://www.comicconstockholm.se/en/">Info</a>
    </div>
</div>
<div class="card">
    <div class="image"></div>
    <div class="card-section">
        <p class="card-title">Comic Con - 2022-11-4</p>
        <p class="card-text">At Comic Con Stockholm 4 – 6 November at Kistamässan, you can take part in activities inspired by TV & film, meet popular actors, Comic Artists and digital creators. You can also experience world-class cosplay or play new games before anyone else. Comic Con is a magical experience for both big and small.</p>
        <a class="card-button" href="https://www.comicconstockholm.se/en/">Info</a>
    </div>
</div>
<div class="card">
    <div class="image"></div>
    <div class="card-section">
        <p class="card-title">Comic Con - 2022-11-4</p>
        <p class="card-text">At Comic Con Stockholm 4 – 6 November at Kistamässan, you can take part in activities inspired by TV & film, meet popular actors, Comic Artists and digital creators. You can also experience world-class cosplay or play new games before anyone else. Comic Con is a magical experience for both big and small.</p>
        <a class="card-button" href="https://www.comicconstockholm.se/en/">Info</a>
    </div>
</div>