@{
    ViewData["Title"] = "Admin";
}
@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" type="text/css" />
}

<div class="profile-section">
    <div class="profile-icon">
    </div>

    <div class="profile-info">
        <h2 class="username">username</h2>
        <i class="fa-solid fa-pen"><label id="n_posts"> # Posts</label></i>
        </br>
        <i class="fa-solid fa-sack-dollar"><label id="n_coins"> # Coins</label></i>
    </div>
</div>

<div class="biography">
    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
</div>

<div class="two-tabs">
    <input type="radio" id="tabPosts" name="tabs" checked="checked">
    <label for="tabPosts">Posts</label>
    <div class="tab">
        <div class="userGames-grid">
            <div class="userGame1"><img src="https://d.newsweek.com/en/full/834343/call-duty-black-ops-3-logo.jpg" id="gameImages"></div>
            <div class="userGame2"><img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/MC_The-Wild-Update_540x300.jpg" id="gameImages"></div>
            <div class="moreUserGame">+</div>
        </div>

        <div class="card">
            <div class="card-user-info" ->
                <div class="card-profile-pic">
                    <img src="/img/defaultPP.png" id="profile-photo">
                </div>
                <div class="card-user">
                    <h2 id="username">username</h2>
                </div>
                <div class="card-community">
                    <h2 id="community">community</h2>
                </div>
            </div>
            <div class="image"></div>
            <div class="card-section">
                <p class="card-title">What is Lorem Ipsum</p>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="card-date">2022-10-06</p>
            </div>
        </div>

        <div class="card">
            <div class="card-user-info" ->
                <div class="card-profile-pic">
                    <img src="/img/defaultPP.png" id="profile-photo">
                </div>
                <div class="card-user">
                    <h2 id="username">username</h2>
                </div>
                <div class="card-community">
                    <h2 id="community">community</h2>
                </div>
            </div>
            <div class="image">
            </div>
            <div class="card-section">
                <p class="card-title">What is Lorem Ipsum</p>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="card-date">2022-10-06</p>
            </div>
        </div>
    </div>

    <input type="radio" id="tabReports" name="tabs" checked="checked">
    <label for="tabReports">Reports</label>
    <div class="tab">
        <div class="card">
            <div class="card-user-info" ->
                <div class="card-profile-pic">
                    <img src="/img/defaultPP.png" id="profile-photo">
                </div>
                <div class="card-user">
                    <h2 id="username">username</h2>
                </div>
                <div class="card-flags">
                    <img src="/img/flag.png" id="flag-icon"><label id="count_flag">#</label>
                </div>
                <div class="card-community">
                    <h2 id="community">community</h2>
                </div>
            </div>
            <div class="image"></div>
            <div class="card-section">
                <p class="card-title">What is Lorem Ipsum</p>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="card-date">2022-10-06</p>
            </div>
        </div>
        <div class="card">
            <div class="card-user-info" ->
                <div class="card-profile-pic">
                    <img src="/img/defaultPP.png" id="profile-photo">
                </div>
                <div class="card-user">
                    <h2 id="username">username</h2>
                </div>
                <div class="card-flags">
                    <img src="/img/flag.png" id="flag-icon"><label id="count_flag">#</label>
                </div>
                <div class="card-community">
                    <h2 id="community">community</h2>
                </div>
            </div>
            <div class="image"></div>
            <div class="card-section">
                <p class="card-title">What is Lorem Ipsum</p>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="card-date">2022-10-06</p>
            </div>
        </div>
        <div class="card">
            <div class="card-user-info" ->
                <div class="card-profile-pic">
                    <img src="/img/defaultPP.png" id="profile-photo">
                </div>
                <div class="card-user">
                    <h2 id="username">username</h2>
                </div>
                <div class="card-flags">
                    <img src="/img/flag.png" id="flag-icon"><label id="count_flag">#</label>
                </div>
                <div class="card-community">
                    <h2 id="community">community</h2>
                </div>
            </div>
            <div class="image"></div>
            <div class="card-section">
                <p class="card-title">What is Lorem Ipsum</p>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="card-date">2022-10-06</p>
            </div>
        </div>
    </div>
</div>
